
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Light'), local('../fonts/Roboto-Light'), url('../fonts/Robotolight.woff2') format('woff2'), url('../fonts/Robotolight.woff') format('woff'), url('../fonts/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto'), local('../fonts/Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Bold'), local('../fonts/Roboto-Bold'), url('../fonts/Robotobold.woff2') format('woff2'), url('../fonts/Robotobold.woff') format('woff'), url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: "Roboto";
}
.cover{
    max-width: 1245px;
    margin: 60px auto;
}
.block{
    display: flex;
    justify-content: space-between;
    color: #161616;
    margin: 54px 0;
}
.block_item {
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 700;
}
.block_item1{
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 700;
}
.black {
    color: #161616; 
}
.cover1{
    max-width: 1170px;
    margin: 0px auto;
}
.block1{
    display: flex;
    height: 573px;
    background-color: #e9e9e9; 
}
.block2{
    display: flex;
    justify-content: center;
    margin: 136px 0 0 0;
}
.block_text{
    width: 477px;
    margin: 0 118px 0 0px;
}
.block_item2{
    font-size: 33px;
    letter-spacing: 1px;
    color: #161616;
    font-weight: 700;
} 
.block_item3{
    font-size: 17px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #545454;
    font-weight: 300; 
    padding: 93px 0 0 105px;   
} 
.block_figure1{
    width: 557px;
    height: 385px;
    background-color: #e9e9e9;
}  
.block3{
    display: flex;
    justify-content: center;
    margin: 138px 0 118px 0px;
}
.block_text1{
    width: 200px;
    margin: 0 392px 0 0;
} 
.block_item4{
    font-size: 17px;
    letter-spacing: 0px;
    color: #545454;
    font-weight: 300;
    line-height: 30px;
    padding: 44px 0 0 16px;
}
.block_text2{
    width: 499px;
}
.block4{
    display: flex;
    justify-content: center;
}
.block_figure2{
    width: 370px;
    height: 280px;
    background-color: #e9e9e9;
    margin: 0 16px 0 0px; 
}
.block_figure3{
    width: 370px;
    height: 280px;
    background-color: #e9e9e9;
    margin: 0 16px 0 0;
}
.block_figure4{
    width: 370px;
    height: 280px;
    background-color: #e9e9e9;
}
.block5{
    display: flex;
    justify-content: center;
    margin: 133px 0 124px 0px;
}
.block_text5{
    width: 382px;
    margin: 0 201px 0 0
}
.block_text6{
    width: 504px;
} 
.block6{
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}
.block_figure5{
    width: 555px;
    height: 436px;
    background-color: #e9e9e9;
    margin: 0px 30px 0 0px; 
}
.block_figure6{
    width: 555px;
    height: 436px;
    background-color: #e9e9e9;
}
.block7{
    display: flex;
    justify-content: center;
    margin: 120px 0 130px 0px;
}
.block_button{
    width: 194px;
    border: 1px solid #161616;
    font-size: 15px;
    font-weight: 400;
    padding: 21px 17px;
    text-align: center;
}
.cover2 {
    max-width: 816px;
    margin-left: 174px;
}
.block8{
    display: flex;
    /*margin: 0 auto;*/
    font-weight: 300;
    line-height: 33px;
    font-size: 15px;
    color:  #999999;
}
.block_item5{
    width: 104px;
    margin: 0 266px 328px 114px;
}
.strong{
    color: #161616;
}
.block_item6{
    width: 71px;
    margin: 0 261px 0 0;
}
.block_item7{
    width: 114px;
}
a {
    color: #999999;
}